body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    margin: 0;
}
.turn{
    border-radius: 5px;
    background-color:cornflowerblue;
    padding: 10px 50px;
}
.board{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 30rem;
    height: 30rem;
    background-color:antiquewhite;
    border-radius: 20px;
    padding: 10px;
}
.content{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    justify-items: center;
}
.content > h1{
    align-self: center;
}
.board-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.board-row > .cell:last-child{
    border-right: none;
}

.board-row:last-child > .cell{
    border-bottom: none;
}

.cell{
    border-bottom: 2px solid darkgray;
    border-right:  2px solid darkgray;
    color:dimgray;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
::backdrop{
    background-color: black;
    opacity: 0.5;
}

dialog{
    border: 2px solid black;
    background-color:cornflowerblue;
    border-radius: 10px;
    width: 20vw;
    height: 30vh;
}

.result-dialog{
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-content: center;
    align-items: stretch;
}

.name-form{
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
    justify-content: space-between;
    align-items: stretch;
}
.name-form > *{
    align-self: center;
}
input[type="text"]{
    border-radius: 5px;
    outline: none;
    width: 80%;
    height: 3vh;
}

.result-dialog > *{
    align-self: center;
}

button {
    height: 5vh;
    border-radius: 10px;
    background-color:antiquewhite;
}

.result-dialog > button:focus{
    background-color:darksalmon;
}