body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 30rem;
    height: 30rem;
    background-color:beige;
    border-radius: 20px;
    padding: 10px;
}

.cell:nth-child(3n){
    border-right: none;
}
.cell:nth-child(n+7){
    border-bottom: none;
}

.cell{
    border-bottom: 2px solid darkgray;
    border-right:  2px solid darkgray;
}