body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.board{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 30rem;
    height: 30rem;
    background-color:beige;
    border-radius: 20px;
    padding: 10px;
}
.board-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.board-row > .cell:last-child{
    border-right: none;
}

.board-row:last-child > .cell{
    border-bottom: none;
}

.cell{
    border-bottom: 2px solid darkgray;
    border-right:  2px solid darkgray;
}